<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="SPINgen"
    Manufacturer="Cornerstone Engineering / CEI"
    Version="0.2.0"
    UpgradeCode="8B29C486-81BF-49A5-94D0-D58A9D81186C"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes">

    <SummaryInformation Description="SPINgen 0.2.0-alpha installer" Manufacturer="Cornerstone Engineering / CEI" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of SPINgen is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.AppIconPath)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPCOMMENTS" Value="Windows desktop application for creating standardized SPIN reports." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="SPINgen" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="SPINgen" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="SPINgen" Level="1">
      <ComponentGroupRef Id="PublishedApplicationFiles" />
      <ComponentRef Id="ApplicationShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcutComponent" Guid="5AB7A9D2-292B-44C7-8B74-697517A4C6AA">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="SPINgen"
          Description="Launch SPINgen"
          Target="[INSTALLFOLDER]CEI.ReportGenerator.App.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RemoveFile Id="ApplicationProgramsFolderFilesRemove" Name="*" On="uninstall" />
        <RemoveFolder Id="ApplicationProgramsFolderRemove" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SPINgen" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
