<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="$(var.ReleaseProductName)"
    Manufacturer="Cornerstone Engineering / CEI"
    Version="$(var.ReleaseProductVersion)"
    UpgradeCode="8B29C486-81BF-49A5-94D0-D58A9D81186C"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes">

    <SummaryInformation Description="$(var.ReleaseProductName) $(var.ReleaseInformationalVersion) installer" Manufacturer="Cornerstone Engineering / CEI" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of SPINgen is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.AppIconPath)" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPCOMMENTS" Value="Windows desktop application for creating standardized SPIN reports." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="SPINgen" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="$(var.ReleaseProductName)" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="$(var.ReleaseProductName)" Level="1">
      <ComponentGroupRef Id="PublishedApplicationFiles" />
      <ComponentRef Id="ApplicationShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcutComponent" Guid="5AB7A9D2-292B-44C7-8B74-697517A4C6AA">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="$(var.ReleaseProductName)"
          Description="Launch $(var.ReleaseProductName)"
          Target="[INSTALLFOLDER]CEI.ReportGenerator.App.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RemoveFile Id="ApplicationProgramsFolderFilesRemove" Name="*" On="uninstall" />
        <RemoveFolder Id="ApplicationProgramsFolderRemove" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.ReleaseProductName)" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
